@{
    ViewData["Title"] = "Acerca de Nosotros";
}

<h2>Nuestro Objetivo</h2>
<p>Es dar crear un espacio donde se promocione y se realice ventas de productos 100% Hondurenos
    tanto a personas Hondurenas que recidan en otros paises o a extranjeros amantes de los productos Hondurenos.</p>
<br/>
<h2>Nos caracteriza</h2>
<p>Nos preocupamos por impulsar a pequenas y medianas empresas a emprender y a incrementar sus ventas.</p>

<br/>
<img src="~/images/bill-wegener-Aw4YZ3vnKHw-unsplash.jpg" alt="Nosotros" class="img-responsive"/>