@{
    ViewData["Title"] = "Contact";
}


<h2>Contactanos</h2>
<address>
    Honduras<br />
    Tegucigalpa,Siguatepeque<br />
    <abbr title="Codigo">P:</abbr>
    504
</address>
<br/>
<img src="~/images/arno-senoner-UOBSagHcxBo-unsplash.jpg" alt="contactanos" class="img-responsive"/>


<address>
    <strong>Nuestras paginas:</strong> <a href="cyreciclahn.wordpress.com">Cyreciclahn</a><br />
    <strong>Publicidad y marketing</strong> <a href="mailto:Marketing@example.com">Publicidad y Marketing</a>
</address>


