@{
    ViewData["Title"] = "Inicio de Sesion";
}
    
    <form class=" needs-validation was-validated" novalidate>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label for="exampleInputEmail1">Correo Electronico</label>
                    <input type="email" class="form-control is-valid is-invalid" aria-describedby="emailHelp" id="validationCustom01" value="grace@gmail.com" required>
                    <small id="emailHelp" class="form-text text-muted">Recuerda Iniciar Sesion con el usuario que ingresaste al registrarte</small>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please select a valid state.
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Contrasena</label>
                    <input type="password" class="form-control is-valid is-invalid" id="validationCustom02" value="ponce" aria-describedby="passwordHelpInline" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <small id="passwordHelpInline" class="text-muted">
                        Must be 8-20 characters long.
                    </small>
                    <div class="invalid-feedback">
                        Please select a valid state.
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="invalidCheck" required>
            <label class="form-check-label" for="exampleCheck1">Recordar</label>
            <div class="invalid-feedback">
                You must agree before submitting.
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Aceptar</button>

        <div class="row">
           
            <div class="col-md-2">
                <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                    Olvide la contrasena
                </a>
            </div>
            <div class="col-md-2">
                <a class="btn btn-default" asp-area="" asp-page="/Registro">
                    Registrarse
                </a>
            </div>
        </div>
    </form>
    

    <script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
    </script>